@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
   --black: #000;
   --secondary-black: #1C1C1C;
   --dark-grey: #333333;
   --purple-taupe: #474350;
   --light-grey: #CCCCCC;
   --primary-color: #FFC300;
   --light-primary-color: #FFD700;
   --lighter-primary-color: #FFC857;
   --secondary-color: #FF8F00;
   --light-secondary-color: #ECA753;
   --off-white-yellow: #FFFACD;
   --off-white: #F4F7F5;

   --error: #E61919;
   --success: #176917;
}

*{
   font-family: 'Poppins', 'Roboto', sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   cursor: url('./assets/icon/cursor.png'), pointer;
}

.header{
   height: 10vh !important;
}

.header .nav-header{
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: var(--black);
   height: inherit;
}

.header .nav-header a{
   color: var(--primary-color);
   text-decoration: none;
   transition: 0.5s all ease;
}

.header .nav-header a:hover{
   opacity: 0.7;
}

.header .nav-header a img{
   border-radius: 50%;
   width: 48px;
}

.header .nav-header .nav-list{
   list-style: none;
   display: flex;
}

.header .nav-header .nav-list li{
   letter-spacing: 3px;
   margin-left: 32px;
}

.header .nav-header .mobile-menu{
   cursor: pointer;
   display: none;
}

.header .nav-header .mobile-menu div{
   width: 32px;
   height: 2px;
   margin: 8px;
   background: var(--off-white);
}

@media (max-width: 999px) {
   body{
      overflow-x: hidden;
   }

   .header .nav-header .nav-list{
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: var(--black);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform .5s ease;
   }

   .header .nav-header .nav-list li{
      margin-left: 0;
      opacity: 0;
   }

   .header .nav-header .mobile-menu{
      display: block;
   }
}

.header .nav-header .nav-list.active{
   transform: translateX(0);
}

.header .nav-header .nav-list .nav-link.active{
   transform: translateX(0);
   opacity: 1;
   transition: 1.2s ease;
}